/*стили разных кнопок*/
/*=====================================================*/

.defaultBtn{
    width: 220px;
    height: 30px;
    border: 1px solid #930000;
    border-radius: 15px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.8);
}
.defaultBtn p{
    position: relative;
    text-align: center;
    top:50%;
    transform: translateY(-50%);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}