/*стили для меню 2го уровня*/
/*=====================================================*/

.menuIn{
    display: none;
    list-style-type: none;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 440px;
    z-index: 2;
}

.menuAll{
    padding-left: 31px;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.295);
    width: 100%;
    height: 54px;
    background-color: rgba(239, 239, 239, 0.8);
    margin-bottom: 7px;
} /*общие стили для плашек*/

.menuAll input{
    font-size: 20px;
    border: none;
    position: relative;
    top:50%;
    transform: translateY(-50%);
    float: left;
    margin-left: 25px;
    margin-right: 25px;
    width: 109px;
    text-align: center;
}

.menuAll p{
    float: left;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    position: relative;
    top:50%;
    transform: translateY(-50%);
}

.menuTitle{
    margin-bottom: 26px;
    background-color: #EFEFEF;
} /*стиль для заголовков*/

.menuAround p{
    width: 61px;
}

.menuAutofill{
    margin-bottom: 43px;
} /*стиль для чекбокса*/


.menuAutofill input{
    width: 26px;
    height: 26px;
}

.inputPick{
    border: 2px solid #556CD4;
} /*выделение выбранного элемента для проверки*/

textarea{
    background-color: #D9D9D9;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.295);
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
} /*основные стили для ввода текста*/

.miniTextFrame{
    margin-bottom: 26px;
    height: 54px;
} /*дополнительные стили для маленького поля ввода*/


.miniTextFrame textarea{
    padding-left: 27px;
    line-height: 52px;
} /*дополнительные стили для маленького поля ввода*/

.bigTextFrame{
    height: 170px;
    margin-bottom: 7px;
} /*дополнительные стили для большого поля ввода*/

.bigTextFrame textarea{
    padding: 27px;
} /*оступы для текста внутри большой textarea*/


.menuList{
    width: 100%;
    height: 54px;
    background-color:#EFEFEF;
    padding-left: 25px;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 7px;
} /*выпадающие списки*/

.menuListOp{
    background-color: rgba(239, 239, 239, 0.8);
} /*СПРОСИТЬ УТОЧНИТЬ, ДОПОЛНИТЕЛЬНАЯ ПРОГРАЗЧНОСТЬ ДЛЯ ЛИСТА ЭПОХИ*/

.submit{
    margin: 0 auto;
} /*выравнивание кнопки по центру*/

.fileInput{
    padding-top: 12px;
    margin: 0;
} /*заглушка для загрузки*/

.fileInput input{
    width: 100%;
    height: 100%;
} /*заглушка для загрузки*/


.quoteContainer{
    max-height: 380px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.quoteContainer::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.quoteContainer textarea{
    padding: 27px;
    line-height: 12px;
    height: 168px;
}

.quoteContainerBtn{
    height: 26px;
}

.plusBtn{
    float: right;
    margin-top: 26px;
    margin-right: 26px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.295);
    background-color: white;
    cursor: pointer;
}

.plusBtn p{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 48px;
}

.px8{
    margin-bottom: 8px;
}

.last{
    margin-bottom: 55px;
} /*стиль для последнего элемента*/

