@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/*основные стили страницы добавления нового композитора*/
/*=====================================================*/


p, textarea, input{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    resize: none;
} /*подключение и настройка шрифта*/

.textarea, input{
    user-select: all;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

*{
    user-select: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} /*отключение стилей*/

body{scrollbar-width: none;-ms-overflow-style: none;}
body::-webkit-scrollbar { width: 0;  height: 0;}

.bg{
    width: 100vw;
}
.bg:before{
    content: '';
    position: absolute; top: 0; right: 0;
    width: 50%;
    height: 1000px;
    background-image: url("img/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}/*для добавления изображения на бг*/

.content{
    width: 1226px;
    margin: 0 auto;
} /*рабочая область сайта*/

.header,.main,.footer{
    width: 100%;
} /*разделение всей структуры на блоки*/

.main{

}
.nav,.navSaveBtns{
    width: 100%; /*ширина блоков*/
} /*блоки навагиации, и три колонки*/

.columns{
    display: flex;
}/*блок с колонками*/

.left,.right{
    padding-top: 122px;
    width: calc((100% - 302px)/2)
} /*левая и правая колонки*/
.left{
    padding-left: calc(((100% - 302px)/2) - 302px); /*НАЙТИ ОПТИМАЛЬНОЕ РЕШЕНИЕ*/
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navSaveBtns{
    display: flex;
    justify-content: space-around;
    padding: 0px 0 56px 0;
} /*настройки позиционирования кнопок навигации*/

.fog{
    z-index: 1;
    position: absolute;
    width: 100vw;
    top: 0;
    background-color: rgba(120, 120, 120, 0.8);
}

.fogBlack{
    background-color: rgba(120, 120, 120, 0.96);
}


.enter{
    height: 1000px;
    width: 100vw;
    background-color: rgba(120, 120, 120, 0.96);
    position: absolute;
    z-index: 3;
}
.enterFrame{
    width: 250px;
    height: 100px;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.enterFrame input{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
}

.enterFrame button{
    margin-top: 10px;
    position: relative;
    left:50%;
    transform: translateX(-50%);
}

/*тестовые стили*/
.header,.nav{
    border-bottom: 1px dotted rgb(0, 0, 0);
}
.footer{
    border-top: 1px dotted rgb(0, 0, 0);
}